<br>
<br>
<br>
<br>
<div class="d-flex align-items-center justify-content-center">
    <h1 style="color:blue;">Welcome to Find_A_Gig</h1>
</div>
<br>

<div class="d-flex align-items-center justify-content-center">
    <%= image_tag("music.jpg", width: 200, length: 200, :style => 'border: 6px solid #0000FF;') %>
</div>
<br><br>

<div class="d-flex align-items-center justify-content-center">
    <h3  style="color:blue;">A place to connect musicians with gigs!</h3>
</div>

