<br>
<br>
<div class="d-flex align-items-center justify-content-center", bg-light>
    <h1 style="color:blue;">General Information </h1>
</div>

<div class="d-flex align-items-left justify-content-left">
    <h3  style="color:blue;">About:</h3>
 </div>
<div class="box">
  <div style="color:blue;">&emsp;Find_A_Gig connects Musicians to available Gigs</div>
</div>
<br>
     
<div class="d-flex align-items-left justify-content-left">
    <h3  style="color:blue;">Functionality:</h3>
</div>
 <div class="box">
    <div style="color:blue;">&emsp; Create & Delete User Accounts & Display All Users</div>
    <div style="color:blue;">&emsp;&emsp;&emsp;Roles for users:  Planner, Musician or Admin </div>
    <br>
    <div style="color:blue;">&emsp;Create Instrument & Display All Instruments</div>
    <br>
    <div style="color:blue;">&emsp;Create & Delete Gigs  & Display All Gigs -- including the following: </div>
    <div style="color:blue;">&emsp;&emsp;&emsp;Instruments Requested, Status of Instrument, and Musician assigned to Instrument</div>
    <br>
    <div style="color:blue;">&emsp;Update a Gig -- confirming the Musician plays the requested instrument.</div>
    <div style="color:blue;">&emsp;&emsp;&emsp;Possible Status: planned, available, requested, hired, closed or cancelled</div>
</div>
 
<br>
<div class="d-flex align-items-left justify-content-left", background>
    <h3  style="color:blue;">More Functionality In Development</h3>
</div>
<div class="box">

    <div style="color:blue;">&emsp;Musicians will be able to register multiple instruments </div>
    <div style="color:blue;">&emsp;& Gigs will be able to request multiple instruments </div>
    <div style="color:blue;">&emsp;&emsp;&emsp;*** Database support is implemented for Gigs & Musicians. </div>
    <div style="color:blue;">&emsp;&emsp;&emsp;*** NOT YET IMPLEMENTED:  Input, & Display for multiple instruments. </div>
    <div style="color:blue;">&emsp;&emsp;&emsp;*** NOT YET IMPLEMENTED:  Updating Gigs & Musicians to add Extra Instruments</div>
</div>

