<br>
<br>

<h1>What do we do?</h1>

<br>
<br>
<div class="d-flex align-items-center justify-content-center">
    <h3>Find_A_Gig is a website to connect Musicians to Gigs</h3>
</div>
<br>
<div class="d-flex align-items-center justify-content-center">
    <h4>Functionality available:  Add & Display All User Accounts, Instruments, & Gigs</h4>
</div>
<br>
<div class="d-flex align-items-center justify-content-center">
    <h4>NOTE:  More Functionality coming soon!!</h4>
</div>