<br>
<br>
<div class="d-flex align-items-center justify-content-center", bg-light>
    <h1 style="color:blue;">General Information </h1>
</div>

<div class="d-flex align-items-left justify-content-left">
    <h3  style="color:blue;">About:</h3>
 </div>
<div class="box">
  <div style="color:blue;">&emsp;Find_A_Gig connects Musicians to available Gigs</div>
</div>
<br>
     
<div class="d-flex align-items-left justify-content-left">
    <h3  style="color:blue;">Functionality:</h3>
</div>
 <div class="box">
    <div style="color:blue;">&emsp; Create User Accounts & Display All Users</div>
    <br>
    <div style="color:blue;">&emsp;Create Instrument & Display All Instruments</div>
    <br>
    <div style="color:blue;">&emsp;Create Gigs  & Display All Gigs -- including Status of Gig</div>
    <br>
    <div style="color:blue;">&emsp;Change the Status of a Gig -- confirming the Musician plays the requested instrument.</div>
    <div style="color:blue;">&emsp;Possible Status: planned, available, requested, hired, closed or cancelled</div>
</div>
 
<br>
<div class="d-flex align-items-left justify-content-left", background>
    <h3  style="color:blue;">More Functionality In Development</h3>
</div>
<div class="box">
    <div style="color:blue;">&emsp;Roles for users:  Planner, Musician or Admin </div>
    <br>
    <div style="color:blue;">&emsp;Musicians will be able to register multiple instruments </div>
    <br>
    <div style="color:blue;">&emsp;Gigs will be able to request multiple instruments </div>
</div>

