<br>
<br>
<div class="d-flex align-items-center justify-content-center">
    <h1>What can you expect from us? </h1>
</div>
<br>
<div class="d-flex align-items-left justify-content-left">
    <h3>Find_A_Gig is a website to connect Musicians to Gigs</h3>
</div>
<br>
<div class="d-flex align-items-left justify-content-left">
    <h4>Functionality:</h4>
 </div>
 <div class="d-flex align-items-left justify-content-left">
    <h4>Add & Display All User Accounts, Instruments, & Gigs</h4>
</div>
<div class="d-flex align-items-left justify-content-left">
    <h4>Update a Gig to have a musician_id, with Status (planned, available, requested, hired, closed or cancelled)</h4>
</div>
<br>
<br>
<div class="d-flex align-items-center justify-content-center">
    <h4>NOTE:  More Functionality coming soon!!</h4>
</div>