<br>
<br>
<h1 style="color:blue;">List Instruments:</h1>

<table>
  <thead>
    <tr>
    <th>Id: &nbsp;&nbsp;&nbsp;&nbsp; </th>
    <th>Name: &nbsp;&nbsp;&nbsp;&nbsp; </th>
    <th>Date Created: &nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instrument.each do |instrument| %>
      <tr>
      <td><%= instrument.id   %></td>
      <td><%= instrument.name   %></td>
      <td><%= instrument.created_at %></td>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New instrument", instrument_path, class: "btn btn-primary mb1 bg-navy" %>
