<br>
<br>
<h1 style="color:blue;">List Instruments:</h1>

<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        table {
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid black;
            padding: 1em;
        }
    </style>
    <meta charset="UTF-8">
  </head>

<body>
<table>
  <thead>
    <tr>
    <th>Id: &nbsp;&nbsp;&nbsp;&nbsp; </th>
    <th>Name: &nbsp;&nbsp;&nbsp;&nbsp; </th>
    <th>Date Created: &nbsp;&nbsp;&nbsp;&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @instrument.each do |instrument| %>
      <tr>
      <td><%= instrument.id   %></td>
      <td><%= instrument.name   %></td>
      <td><%= instrument.created_at %></td>
    <% end %>
  </tbody>
</table>
</body>
</html>
<br>

<%= link_to "New instrument", instrument_path, class: "btn btn-primary mb1 bg-navy" %>
